/* 전역 변수 */
:root {
  --default-font-color: rgb(160, 0, 200);
  --menu-heigh: 50px;
  --max-width: 1240px;
  --main-tab-cnt: 8;
}

/* basic */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

/* App (container) */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */

header {
  width: 100%;
  max-width: var(--max-width);
  height: 90px;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
}

header .logo {
  width: 12%;
  height: 100%;
  line-height: var(--menu-heigh);
  font-size: 24px;
  cursor: pointer;
}

header .menu {
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu .main-tab {
  width: 100%;
  height: 100%;
}

.menu .main-tab:after {
  display: block;
  content: "";
  clear: both;
}

.main-tab > li {
  position: relative;
  float: left;
  width: calc(100% / var(--main-tab-cnt));
  height: 100%;
  text-align: center;
  line-height: var(--menu-heigh);
  transition: color 0.3s ease-in-out;
  cursor: pointer;
}

.main-tab > li:hover {
  color: var(--default-font-color);
}

.main-tab > li::after {
  display: block;
  content: "";
  transform: scaleX(0);
  border-bottom: 1px solid var(--default-font-color);
  transition: transform 0.3s ease-in-out;
  transform-origin: left; /* Animate from left to right */
}

.main-tab > li:hover::after {
  transform: scaleX(1);
}

.main-tab .sub-tab {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 102%;
  text-align: center;
}

.main-tab > li:hover .sub-tab {
  display: block;
}

.main-tab .sub-tab > li {
  color: black;
  background-color: white;
  transition: color 0.3s ease-in-out;
}

.main-tab .sub-tab > li:hover {
  color: var(--default-font-color);
}

/* carousel */

.carousel {
  width: 100%;
}
