/* 전역 변수 */
:root {
  --default-font-color: rgb(68, 68, 68);
  --signature-font-color: rgb(160, 0, 200);
  --default-bg-color: rgb(249, 249, 249);
  --max-width: 1240px;
  --header-height: 80px;
  --page-tab-cnt: 8;
  --page-ul-height: 40px;
}

/* basic */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

/* App (container) */

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--default-font-color2);
  background-color: var(--default-bg-color);
}

/* header */

header {
  width: 100%;
  max-width: var(--max-width);
  height: var(--header-height);
  display: flex;
  flex-direction: row;
}

header .logo {
  width: 12%;
  height: 100%;
  line-height: calc(var(--header-height) - 2px);
  font-size: 24px;
  color: var(--signature-font-color);
  cursor: pointer;
}

header .dropdown-page-menu {
  width: 88%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;

  .tab-ul {
    width: 100%;
    height: 100%;
  }

  .tab-li {
    position: relative;
    float: left;
    width: calc(100% / var(--page-tab-cnt));
    text-align: center;
    line-height: calc(var(--header-height) - 2px); /* border-bottom 공간 확보 */
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }

  .tab-li:hover {
    color: var(--signature-font-color);
  }

  .tab-li::after {
    display: block;
    content: "";
    transform: scaleX(0);
    border-bottom: 2px solid var(--signature-font-color);
    transition: transform 0.3s ease-in-out;
    transform-origin: left; /* Animate from left to right */
  }

  .tab-li:hover::after {
    transform: scaleX(1);
  }

  .page-ul {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 1; /* carousel 사진 위로 위치 */
  }

  .tab-li:hover .page-ul {
    /* display: block; */
    visibility: visible;
    opacity: 1;
    height: var(--page-ul-height);
  }

  .page-li {
    line-height: var(--page-ul-height);
    color: var(--default-font-color);
    background-color: var(--default-bg-color);
  }

  .page-li:hover {
    color: var(--signature-font-color);
  }
}

/* carousel */

.carousel {
  width: 100%;
}
